.dataTable {
  overflow: scroll;
  border: 1px solid #333;
  tr:nth-of-type(1) th span {
    cursor: pointer;
    &:hover { /* sort of highlights the sort arrow */
      filter: brightness(1.25);
    }
  }
  th {
    borderBottom: 1px solid #333;
    borderRight: 1px solid #333;
    p: 1;
  }
  tbody {
    borderBottom: 1px solid #333;
  }
  td {
    borderBottom: 1px solid #333;
    borderRight: 1px solid #333;
    p: 0.5;
    whiteSpace: nowrap;
    overflow: hidden;
    textOverflow: ellipsis;
  }
  tr:first-of-type th { fontSize: 100% }
  tr:nth-of-type(2) th { fontSize: 75% }
  tfoot {
    color: #666;
  }
  tfoot th {
    fontWeight: normal;
  }
  tfoot tr:first-of-type th { fontSize: 75% }
  tfoot tr:nth-of-type(2) th { fontSize: 100% }
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: var(--spacing-1);
  padding: var(--spacing-1);
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  border-radius: var(--spacing-1);
  align-items: center;
  .paginationButtons {
    display: flex;
    gap: 1px;
    button {
      cursor: pointer;
      font-size: 100%;
    }
  }
}

.columnsSelect {
  position: relative;
  button {
    anchor-name: --trigger;
  }
  .tempPopover {
    background-color: color-mix(in lab, var(--color-container-bg), #fff);
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border: 1px solid #999;
    border-radius: var(--spacing-1);
    padding: var(--spacing-1);
  }

  [popover] {
    margin: 0;
    padding: var(--spacing-1) var(--spacing-2);
    border: 0;
    position-anchor: --trigger;
    top: anchor(--trigger bottom);
    left: anchor(--trigger left);
  }
  
  button, [popover] {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

